<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Marca</label>
      <select class="form-control" id="marca">
        <option>Fiat</option>
        <option>Pegeout</option>
        <option>Renault</option>
        <option>VW</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Modelo</label>
      <input type="text" class="form-control" id="modelo" placeholder="Digite o modelo!">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Ano</label>
      <input type="text" class="form-control" id="ano" placeholder="Digite o ano!">
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Cadastrar"></button>
  </form>